option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: seek_book.wsgi:application


  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    HealthCheckGracePeriod: 300
    Cooldown: 300

  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    LowerThreshold: 20
    UpperThreshold: 80
    LowerBreachScaleIncrement: 1
    UpperBreachScaleIncrement: 1
    BreachDuration: 5
